#AppBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(140, 0, 126);
    color: white;
    height: 50px;
    font-weight: 400;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 5px rgb(14, 17, 41);

    & > * {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    #iconWarpper {
        background-color: rgba($color: #000, $alpha: 0.3);
        height: 50px;
        width: 50px;
        margin: 0;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        #icon {
            // font-size: 30px;
            display: inline-block;
            text-align: left;
        }
    }

    .Title {
        margin-left: 10px;
    }
}
