#AppBar{
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 50, 51);
    color: rgb(163, 157, 144);
    height: 50px;
    font-weight:400;
    width: 100%;
    /* font-size: x-large; */
    position: fixed;
    box-shadow: 0px 2px 5px rgb(14, 17, 41);
    transition: top  0.3s;
    top: 0;
    z-index: 999;
}

#AppBarHide{
    top: -50px;
}

#AppbarPlaceHolder{
    height: 50px;
    width: 100%;
}

#AppBar>*{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#AppBarMenuButton{
    color: inherit;
    transition: background-color 0.2s;
}

#AppBarMenuButton:hover{
    background-color: white;
}

.Title{
    margin-left: 20px;
    flex:1;
}

.SearchBox{
    background-color: inherit;
    width: 300;
}

