.Avatar{
    border-radius: 50%;
    background-color: honeydew;
    overflow: hidden;
    height: 45px;
    width: 45px; 
    transition:  0.4s;
}

.Avatar:hover{
    height: 60px;
    width: 60px;
    transform:rotate(360deg);
}

.AvatarImg{
    width: 100%;
    height:100%;
}