#fullPage{
    height: 100%;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
}

#functionArea{
    flex: 1;
    color: white;
    display: flex;
    flex-direction: row;
}